.main-password-container {
	width: 96%;
	height: 770px;
	margin-left: 24px;
	float: right;
	margin-top: 24px;
	margin-right: 24px;
	background: #ffffff;
	border-radius: 10px;
	padding: 5%;
}
.m-top-38 {
	margin-top: 38px;
}
.m-top-24 {
	margin-top: 24px;
}
.m-top-53 {
	margin-top: 53px;
}
.m-left-24 {
	margin-left: 24px;
}
.m-left-337 {
	margin-left: 337px;
}
.m-right-30 {
	margin-right: 30px;
}
.m-right-55 {
	margin-right: 55px;
}
.m-right-24 {
	margin-right: 24px;
}
.m-left-16 {
	margin-left: 16px;
}
.input-password {
	display: flex;
	width: 100%;
	height: 48px;
	border-radius: 10px;
	border: 1px solid #3eadcf;
}
.invalid-input-password {
	display: flex;
	width: 100%;
	height: 48px;
	border-radius: 10px;
	border: 1px solid red;
}
.password-input-container {
	display: grid;
	grid-template-columns: 200px 1fr;
	grid-column-gap: 2rem;
	grid-row-gap: 1rem;
	width: 100%;
	margin-bottom: 1rem;
}
.password-title {
	font-size: 1rem;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}

input.password-form-input {
	margin-left: 16px;
	font-size: 14px;
	font-weight: 500;
	width: 100%;
	height: 48px;
	background-color: transparent;
	border: 0px;
}
input.password-form-input:focus {
	outline: none;
}
input.password-form-input::placeholder {
	font-size: 14px;
	font-weight: 500;
	color: black;
	opacity: 0.5;
}
input.password-form-input::-ms-reveal {
	display: none;
}
div.separator {
	border-left: 1px solid #3eadcf;
	height: 47px;
}
.button-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
button.change-password-btn {
	width: 56px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0px;
	background-color: transparent;
}
button.change-password-btn:focus {
	outline: none;
}
button.cancel-btn {
	width: 92px;
	height: 40px;
	background-color: white;
	color: #3eadcf;
	font-size: 16px;
	font-weight: 500;
	border: 1px solid #3eadcf;
	border-radius: 10px;
}
button.save-btn {
	width: 92px;
	height: 40px;
	background-color: #3eadcf;
	color: white;
	font-size: 16px;
	font-weight: 500;
	border: 1px solid #3eadcf;
	border-radius: 10px;
}
.text-password-danger {
	font-size: 12px;
	font-weight: bold;
	/* margin-left: 177px; */
	color: red;
}
.text-success {
	font-size: 12px;
	font-weight: bold;
	margin-left: 177px;
	color: #4bb543;
}
.MuiCircularProgress-colorPrimary {
	color: white !important;
}
